.page {
  position: relative;
  background: linear-gradient(90deg, #fff $pane-ratio, $code-background 0);
  button {
    outline: none;
  }

  &:before {
    display: block;
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: $pane-ratio;
    background: #707070;
    transition: width 200ms;
    // cursor: e-resize;
    &:hover {
      width: 12px;
    }
  }  
  // header
  header {
    position: sticky;
    z-index: 1000;
    top: 0;
    width: $pane-ratio;
    height: 140px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 40px;
      height: 1px;
      background: #e6e6e6;
    }
    h2 {
      font-size: 30px;
      font-weight: normal;
    }

    .btn-reference {
      width: 100px;
      height: 34px;
      border-radius: 2px;
      background: #f6f6f6;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $body-text-color;
      > i {
        margin-right: 12px;
        font-size: 18px;
      }
      & + .btn-reference {
        margin-left: 12px;
      }
    }
  }

  // body
  .contents {
    padding-bottom: 70px;
    
    .group-title {
      width: 50%;
      font-weight: normal;
      font-size: 24px;
      margin-top: 60px;
      margin-bottom: 32px;
      padding: 0 40px;
    }

    .row {
      & + .row {
        margin-top: 32px;
      }
      display: flex;
      .row-example {
        padding: 0 40px; 
        width: $pane-ratio;
      }
      .row-desc {
        padding: 0 24px;
        width: 42%;
      }
    }

    .group-table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        padding: 1em;
      }
      th {
        font-weight: normal;
        background: #f9f9f9;
      }
      td {
        border-bottom: 1px solid #e8e8e8;
        color: $body-text-color;
      }
    }

    .group-table-div {
      table{
        width: 100%;
        border-collapse: collapse;
        th, td {
          padding: 1em;
        }
        th {
          font-weight: normal;
          background: #f9f9f9;
        }
        td {
          border-bottom: 1px solid #e8e8e8;
          color: $body-text-color;
        }
      }
    }


    // prism
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
      background: $code-background;
    }
    // code[class*="language-"] {
    //   white-space: break-spaces;
    // }

    // copy prism code
    .btn-copy {
      display: none;
      position: absolute;
      top: 15px;
      right: 15px;
      background: #606060;
      width: 30px;
      height: 30px;
      justify-content: center;;
      align-items: center;
      border-radius: 4px;
      transition: transform 200ms;
      > i {
        color: rgba(#fff, 0.5);
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// hide code
.page.hide-code {
  background: #fff;
  &:before {
    display: none;
  }
  header {
    width: 100%;
  }
  .contents {
    .row {
      .row-example {
        width: 100%;
      }
      .row-desc {
        display: none;
      }
    }
  }
}