//variables
//변수 명에 + h = hover / + a = acitive / + d = more dark

//background
$w-blue: #1d7abd;
$w-light-blue: #85d7fe;
$w-gray: #4d515a;
$w-orange: #f90;
$w-yellow: #fec200;
$w-yel: #ffc200;
$w-light-yellow: #ffd56c;
$w-white: #fff;
$w-steel-gray: #f9fafc;
$w-badge-blue: #7fc9ff;
$w-top-blue: #2496e2;
$w-bottom-blue: #7fd0ff;
$w-head-bottom: #edf0f8;
$w-sky-blue: #89d7ff;
$w-white-blue: #d2f0ff;
$w-brick-gray: #fbfaf8;
$w-dark-blue: #0061a7;

//text color
$w-text: #333;
$w-light-text: #666;
$w-black: #000;

//gray..
$w-eee: #eee;
$w-ddd: #ddd;
$w-ccc: #ccc;
$w-999: #999;
$w-555: #555;
$w-666: #666;
$w-333: #333;

// NEW DOCUMENT SITE
$body-text-color: $w-666;
$code-background: #171717;
$pane-ratio: 58%;
